node_modules/
*.log
*.swp
examples/*/.babelrc
examples/*/.eslintrc
examples/*/.eslintrc.*
examples/*/tests
examples/*/webpack.config.*
examples/*/webpack-dev*
examples/*/static
examples/*/build/
examples/*/src/containers/
examples/*/src/reducers/
examples/*/src/stores/
examples/*/src/
examples/*/karma*
examples/*/plugins
